* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 700px;
    margin: 0 auto;
    border: solid DarkBlue;
    padding: 0px 30px;
}

section {
    margin-top: 60px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

#header-img {
    height: 150px;
    width: 150px;
}

#nav-bar {
    margin-right: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
img {
    width: 90px;
    height: 50px;
    padding-right: 50px;

}

#types-of-cakes {
    margin-top: 160px ;
    align-items: center;

    
}

.list {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

#video {
    display: block;
    margin: 0 auto;
}

.options {
    padding-top: 30px;
    padding-left: 30px;
}

#form {
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 320px){
body{ 
    font-size: 8px;
}
}
